<!doctype html>
        <!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en-US"> <![endif]-->
        <!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en-US"> <![endif]-->
        <!--[if IE 8]>    <html class="lt-ie9" lang="en-US"> <![endif]-->
        <!--[if gt IE 8]><!--> <html lang="en-US"> <!--<![endif]-->
        <head>
                <!-- META TAGS -->
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
        <link rel="shortcut icon" type="image/x-icon" href=""/> 
        <meta name="keywords" content=""/>
        <meta name="description" content=""/>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=no">
        <meta name="author" content="" />
        <meta name="copyright" content=""/>

                <title>更新日志</title>

                <link rel="shortcut icon" href="../static/images/favicon.ico" />


                

                <!-- Style Sheet-->
                <link rel='stylesheet' id='bootstrap-css-css'  href='../static/css/bootstrap5152.css?ver=1.0' type='text/css' media='all' />
                <link rel='stylesheet' id='responsive-css-css'  href='../static/css/responsive5152.css?ver=1.0' type='text/css' media='all' />
                <link rel='stylesheet' id='pretty-photo-css-css'  href='../static/js/prettyphoto/prettyPhotoaeb9.css?ver=3.1.4' type='text/css' media='all' />
                <link rel='stylesheet' id='main-css-css'  href='../static/css/main5152.css?ver=1.0' type='text/css' media='all' />


                <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
                <!--[if lt IE 9]>
                <script src="js/html5.js"></script></script>
                <![endif]-->
        <style>
            #web_content_area{
                font-size:16px;
                line-height:24px;
            }
        </style>

        </head>

        <body>
                <!-- Start of Header -->
                <div class="header-wrapper">
                        <header>
                                <div class="container">


                                        <div class="logo-container">
                                                <!-- Website Logo -->
                                                <a href="index-2.html"  title="Knowledge Base Theme">
                                                        <img src="../static/images/logo.png" alt="Knowledge Base Theme">
                                                </a>
                                                <span class="tag-line">——噗哟噗哟.的做做作业.考考试</span>
                                        </div>


                                        <!-- Start of Main Navigation -->
                                        <nav class="main-nav">
                                                <div class="menu-top-menu-container">
                                                        <ul id="menu-top-menu" class="clearfix">
                                                                <li><a href="/quickexam">主页</a></li>
                                                                <li><a href="/quickexam/log">更新日志</a></li>
                                                        </ul>
                                                </div>
                                        </nav>
                                        <!-- End of Main Navigation -->

                                </div>
                        </header>
                </div>
                <!-- End of Header -->

                <!-- Start of Page Container -->
                <div class="page-container">
                        <div class="container">
                                <div class="row">

                                        <!-- start of page content -->
                                        <div class="span8 page-content" id="web_content_area" style="width: 1170px;height:1980px">
                                        </div>
                                        <!-- end of page content -->

                                </div>
                        </div>
                </div>
                <!-- End of Page Container -->

                <!-- Start of Footer -->
                <footer id="footer-wrapper">
                        <div id="footer" class="container">
                                <div class="row">

                                        <div class="span3">
                                                <section class="widget">
                                                        <h3 class="title">本站宗旨</h3>
                                                        <div class="textwidget">
                                                                <p>作业 考试？全都～噗哟噗哟的</p>
                                                                <p>上传包含问题的word文档，经过分析后 立刻按照问题类型 列出所有问题以及答案 </p>
                                                        </div>
                                                </section>
                                        </div>


                                        <div class="span3">
                                                <section class="widget">
                                                        <h3 class="title">友情链接</h3>
                                                        <div class="flickr-photos" id="basicuse">
                                                            <a href='http://www.kogado.com/' target="_blank"><img src="../static/images/img_kogadologo.png"></a>
                                                            <a href='http://nippon1.jp/' target="_blank"><img src="../static/images/nippon1.gif"></a>
                                                            <a href='http://www.kogado.com/sw/male/' target="_blank"><img src="../static/images/btn_footer_01.gif"></a>
                                                        </div>
                                                </section>
                                        </div>

                                </div>
                        </div>
                        <!-- end of #footer -->

                        <!-- Footer Bottom -->
                        <div id="footer-bottom-wrapper">
                                <div id="footer-bottom" class="container">
                                        <div class="row">
                                                <div class="span6">
                                                        <p class="copyright">
                                                                Copyright © 2018. All Rights Reserved by Puyopuyo.
                                                        </p>
                                                </div>
                                                <div class="span6">
                                                        <!-- Social Navigation -->
                                                        <ul class="social-nav clearfix">
                                                                <li class="linkedin"><a target="_blank" href="#"></a></li>
                                                                <li class="stumble"><a target="_blank" href="#"></a></li>
                                                                <li class="google"><a target="_blank" href="#"></a></li>
                                                                <li class="deviantart"><a target="_blank" href="#"></a></li>
                                                                <li class="flickr"><a target="_blank" href="#"></a></li>
                                                                <li class="skype"><a target="_blank" href="skype:#?call"></a></li>
                                                                <li class="rss"><a target="_blank" href="#"></a></li>
                                                                <li class="twitter"><a target="_blank" href="#"></a></li>
                                                                <li class="facebook"><a target="_blank" href="#"></a></li>
                                                        </ul>
                                                </div>
                                        </div>
                                </div>
                        </div>
                        <!-- End of Footer Bottom -->

                </footer>
                <!-- End of Footer -->

                <a href="#top" id="scroll-top"></a>

                <!-- script -->
                <script type='text/javascript' src='../static/js/jquery-1.8.3.min.js'></script>
                <script type='text/javascript' src='../static/js/jquery.easing.1.3.js'></script>
                <script type='text/javascript' src='../static/js/jquery.liveSearch.js'></script>
                <script type='text/javascript' src='../static/js/jquery.form.js'></script>
                <script type='text/javascript' src='../static/js/jquery.validate.min.js'></script>
				<script type='text/javascript'>
					$(function(){
                       function bigArea(target,id)
                       {
                            target = $("body").find('.' + target).length > 0 ? $("body").find('.' + target) : $("body").find('#' + target);
                            target.append('<article class="format-standard type-post hentry clearfix" style="width:1170px;" id='+id+'></article>');
                            smallArea = target.find("#" + id);
                            return smallArea;
                       }
                       function smallAreaHead(smallArea,title,subTitle,id,day,month,year,likeNum)
                       {
                            smallArea.append('<header class="clearfix" id='+id+'></header>');
                            parent = smallArea.find("#" + id);
                            parent.append('<h1 class="post-title"><a href="#">'+title+'</a></h1>')
                                  .append('<div class="post-meta clearfix" id="date_'+id+'"></div>');
                            dateArea = parent.find("#" + "date_" + id);
                            dateArea.append('<span class="date">'+day+' '+month+' '+year+'</span>')
                                    .append('<span class="category"><a href="/quickexam/log" title="updataLog">工作日志</a></span>')
                                    .append('<span class="comments"><a href="#" title="subTitle">'+subTitle+'</a></span>')
                                    .append('<span class="like-count">'+likeNum+'</span>');
                            return parent;
                       }
                       function smallAreaBody(smallArea,body,id)
                       {
                            smallArea.append('<p>'+body+'</p>');
                       }
                       function writeLog(smallArea,title,subTitle,id,day,month,year,likeNum,contents)
                       {
                           var examQuestion = smallAreaHead(smallArea,title,subTitle,id,day,month,year,likeNum);
                           var examAnwser = smallAreaBody(smallArea,contents,id);
                       }
                       
                       var smallArea = bigArea("web_content_area","exam_clazz_head");
                       
                       //2018-2-15 新增日记页面
                       writeLog(smallArea,"新增日记页面","后台相关","log1","15","二月","2018","55",
                            "本站从今天起,开始记录更新内容:<br><br>" +
                            "1.后台添加写日志的功能。<br>" +
                            "2.可以按照格式写日记。<br>" +
                            "3.调整日记页面字体大小。"
                       );
                       
                       //2018-2-15 核心更新
                       writeLog(smallArea,"全面提高搜索速度","核心相关","log2","15","二月","2018","85",
                            "为提高速度所做的努力:<br><br>" +
                            "由于读取题目时,比较模型是通过读取内部的10几个模型抽取的，每次用户提交一个搜索，就需要重新提取这10几个模型文件，造成速度很慢。<br>" +
                            "改进方法：<br>" +
                            "1.将模型预先抽取出来放在一个文件中<br>" + 
                            "遇到的问题:<br>" +
                            "1.发现抽取后的对象是list类型，没法保存到本地文件中<br>" +
                            "2.自己按照格式输出到文件后，重新读取不能组装回list<br>" +
                            "解决办法:<br>" +
                            "1.将抽取后的模型list文件用pickle模块，序列化(dumps方法)后，用二进制(bytes)方式写入文件<br>" +
                            "2.用二进制的方法读入模型文件，反序列化(load方法)后，变回list对象，从而大大提高搜索前重置模块类的速度(至少提高30秒以上)"
                       );
                       //2018-2-17 新的折腾
                       writeLog(smallArea,"新的折腾","核心相关","log3","17","二月","2018","155",
                            "为了解析更多题型，决定分析一个有关考试或作业的网站，提取其中所有doc文件。最初找到的几个站点都要注册登录，多数都要" +
                            "付费，不过终于找到了一个可以直接下载的，立刻写个脚本下载了一整天，doc和pdf档的考卷。<br><br>" +
                            "由于本app解析word的类，只能解析docx文件，所以要把下载下来的doc和pdf考卷转换成docx文件，没想到这一折腾就是1整天多啊，其中的心酸啊。<br><br>"+
                            "PDF档，其实分为用文字写的PDF和 里面直接存的图片文字的PDF(其实就是图片),PDF官方和微软WORD都可以互相另存为转换。但是我手头上有上万个doc和pdf=="  +
                            "找了一下批处理工具，基本都要收费的。更夸张的是号称最强的俄国ORC解析软体ABBYY FineReader,我把百度搜索到的破解版17个页面170条网站几乎都点了个遍." +
                            "代理这个软件的中国公司真厉害，把百度所有能搜到的答案和各软件站长都投诉了，然后想了一下。明白了，既然中国不行，就要到外国去找，毕竟这个软件过年打折半价也要" +
                            "400多元啊，然后第一想到的用google搜，但是要翻墙各种麻烦，最后发现bing的国际版可以用。一开始找到的一堆病毒，因为英文不好的我还很天真的以为下载下来的那个很像的文件," +
                           "就是呢，结果中毒，重新ghost。然后经历无数小时终于给我找到破解免费版，我的神啊！这下PDF文件可以批量转换成doc文件了。但是doc怎么转成docx呢？" + 
                           "最终，还是万能的百度厉害啊！不得不佩服中国这点。方法是用word中运行VB脚本。叫做VBA，给出的代码有一行错误，调试后可以运行了，贴下代码吧：<br><br>" +
                            "doc转docx<br>" +
                            "Option Explicit<br>" +
                            "Sub doc2docx()<br>" +
                            "Dim sEveryFile As String<br>" +
                            "Dim sSourcePath As String<br>" +
                            "Dim sNewSavePath As String<br>" +
                            "Dim CurDoc As Object<br>" +
                            'sSourcePath = "E:\\DOC文件\\"<br>' +
                            'sEveryFile = Dir(sSourcePath & "*.doc")<br>' +
                            'Do While sEveryFile <> ""<br>' +
                                "&nbsp;&nbsp;&nbsp;&nbsp;Set CurDoc = Documents.Open(sSourcePath & sEveryFile, , , , , , , , , , , msoFalse)<br>" +
                                '&nbsp;&nbsp;&nbsp;&nbsp;sNewSavePath = VBA.Strings.Replace(sSourcePath & "DOCX文件\\" & sEveryFile, ".doc", ".docx")<br>' +
                                "&nbsp;&nbsp;&nbsp;&nbsp;CurDoc.SaveAs2 sNewSavePath, wdFormatDocumentDefault<br>" +
                                "&nbsp;&nbsp;&nbsp;&nbsp;CurDoc.Close SaveChanges:=False<br>" +
                                "&nbsp;&nbsp;&nbsp;&nbsp;sEveryFile = Dir<br>" +
                            "Loop<br>" +
                            "Set CurDoc = Nothing<br>" +
                            "End Sub<br><br>" +
                            "主要注意sSourcePath是存有doc文件的文件夹(里面别放其他类型的文件),和第二次出现DOCX文件的地方,转换后保存到那个文件夹地址"
                       );
                         
                       //2018-2-18 有多个答案的题目换行显示
                       writeLog(smallArea,"有多个答案的题目换行显示","外观","log4","18","二月","2018","38",
                            "犯傻了，还去拆分答案字符串，其实后台给的已经是拆分好的答案了，只要遍历一下就能换行显示了！<br><br>"
                       );
                       //2018-2-18 增加power按纽，进一步识别题目
                       writeLog(smallArea,"增加power按纽，进一步识别题目","外观、内核","log5","18","二月","2018","38",
                            "1.增加power按纽，增强搜索力度，但是强度越大，搜索时间越长哦。<br><br>" +
                            "2.如果上传的docx文件内，没有题型，但是有题号也能找到。更进一步，如果连题号都没有，可能会出现错误，勉强可以用"
                       );

					})
				</script>

        </body>
</html>
